.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.plus-btn {
    border: 2px solid #28a745; /* Green outline */
    border-radius: 50%; /* Circular shape */
    color: #fff; /* White text */
    background-color: #28a745; /* Green fill */
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
  }
  
  .plus-btn:hover {
    background-color: transparent; /* Transparent background on hover */
    color: #28a745; /* Green text on hover */
  }

  .minus-btn {
    border: 2px solid #dc3545; /* Red outline */
    border-radius: 50%; /* Circular shape */
    color: #fff; /* White text */
    background-color: #dc3545; /* Red fill */
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
  }
  
  .minus-btn:hover {
    background-color: transparent; /* Transparent background on hover */
    color: #dc3545; /* Red text on hover */
  }
  